// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

body #page
  position: relative

.kbi.root
  background-color: #F5E0FF

