<div class='container'>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="http://kmalakoff.github.com/">http://kmalakoff.github.com/</a>

        <ul class="nav pull-right">
          <li><a data-bind="click: app.inspector.open">Inspector</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
